---
layout: default
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    
  <header class="post-header">
    <section>
        <div class="ui text container">
            <h1>{{ page.title }}</h1>
        </div>
    </section>
      
      <p class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
          {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
            
          <div class="ui tag labels">
            {% for tag in page.tags %}
                <a class="ui orange label" href="/tags#{{ tag }}">{{ tag }}</a>
            {% endfor %}
          </div>
      </p>
  </header>
    

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>  

</article>
    
<div class="post">
      
<!-- Previous / Next post -->
  <br>
  {% if page.previous %}
    <p style="font-size:90%">      
        <button class="ui orange basic button" 
                onclick="location.href='{{ page.previous.url }}';">Previous article</div>
    </p>
  {% endif %}

  {% if page.next %}
    <p style="font-size:90%">
        <button class="ui orange basic button" 
                onclick="location.href='{{ page.next.url }}';">Next article</div>
    </p>
  {% endif %}
</div>

<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true">
    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a>
</div>
    


